<div class="home-page-wrapper">
  <div class="home-page">
    <div class="slider--container">
      <%= image_tag("school_gate.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("school_yarn1.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("school_yarn3.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("school_yarn4.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("school_yarn2.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("activities.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("chao_co.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("khai_giang.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("dream_school.jpg", alt: "Rails logo", class: "slider--image")%>
      <%= image_tag("chao_co2.jpg", alt: "Rails logo", class: "slider--image")%>
    </div>
    <div class="book-list-container">
      <div class="book-list-header">
        Sách mới nhất <span><a href="/books">Xem thêm</a></span>
      </div>
      <div class="book-list home">
        <% @books.each do |book| %>
          <a href="<%= "books/show?id=" + book.id.to_s %>">
            <div class="book-item-row">
              <div class="image-wrapper">
                <% if book.doc_file_pages.first %>
                  <%= image_tag book.doc_file_pages.first, width: "100%" %>
                <% end %>
                <div class="see-detail">Xem chi tiết</div>
              </div>
              <div class="detail-wrapper">
                <p class="title">
                  <%= book.title %>
                  <span class="author">by <%= book.author %></span>
                </p>
                <p class="describe"><%= book.describe %></p>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="subject-list-container">
      <div class="subject-list-header">
        Danh sách môn học <span><a href="/books">Xem thêm</a></span>
      </div>
      <div class="subject-list">
        <% @subjects.each do |subject| %>
          <a href="<%= "books?subject[]=" + subject.id.to_s %>">
            <div class="subject-item-row">
              <%= subject.name %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="category-list-container">
      <div class="category-list-header">
        Danh mục sách <span><a href="/books">Xem thêm</a></span>
      </div>
      <div class="category-list">
        <% @categories.each do |category| %>
          <a href="<%= "books?category[]=" + category.id.to_s %>">
            <div class="category-item-row">
              <div class="category-image">
                <img src="https://cdn-icons-png.flaticon.com/512/3843/3843517.png" width="100">
              </div>
              <%= category.name %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "home" %>
